*__Notebook for Segmenting and Clustering Neighborhoods in Toronto__*

In [1]:
# Importing libraries
import pandas as pd
!conda install -c anaconda lxml --yes # for pandas read_html
import lxml

Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 4.5.11
  latest version: 4.7.11

Please update conda by running

    $ conda update -n base -c defaults conda



# All requested packages already installed.

1. Get info from Wikipedia page

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

In [3]:
# The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood
df0 = pd.read_html(url)[0]
df0

    Postcode           Borough          Neighbourhood
0        M1A      Not assigned           Not assigned
1        M2A      Not assigned           Not assigned
2        M3A        North York              Parkwoods
3        M4A        North York       Victoria Village
4        M5A  Downtown Toronto           Harbourfront
..       ...               ...                    ...
283      M8Z         Etobicoke              Mimico NW
284      M8Z         Etobicoke     The Queensway West
285      M8Z         Etobicoke  Royal York South West
286      M8Z         Etobicoke         South of Bloor
287      M9Z      Not assigned           Not assigned

[288 rows x 3 columns]

2. Ignore cells with a borough that is __Not assigned__

Let's see how many 'Not assigned'

In [4]:
df0.Borough.value_counts()

Not assigned        77
Etobicoke           45
North York          38
Downtown Toronto    37
Scarborough         37
Central Toronto     17
West Toronto        13
York                 9
East Toronto         7
East York            6
Mississauga          1
Queen's Park         1
Name: Borough, dtype: int64

And create new DF without 'Not assigned'

In [5]:
df1 = df0[df0.Borough != 'Not assigned']
print('New size is', df1.shape)

New size is (211, 3)

3. More than one neighborhood can exist in one postal code area.<br>
Rows will be combined into one row with the neighborhoods separated with a comma

In [6]:
df2 = df1.groupby(['Postcode', 'Borough'])['Neighbourhood']\
.apply(lambda Neighbourhood: ','.join(Neighbourhood))\
.to_frame(name = 'Neighbourhood').reset_index()
df2.head(3)

  Postcode      Borough                         Neighbourhood
0      M1B  Scarborough                         Rouge,Malvern
1      M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2      M1E  Scarborough       Guildwood,Morningside,West Hill

4. If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.

In [7]:
# Check 'Not assigned' Neighbourhoods
df2.loc[df2['Neighbourhood'] == 'Not assigned']

   Postcode       Borough Neighbourhood
85      M7A  Queen's Park  Not assigned

In [8]:
df2.loc[df2['Neighbourhood'] == 'Not assigned', 'Neighbourhood'] = \
df2.loc[df2['Neighbourhood'] == 'Not assigned', 'Borough']

In [9]:
df2.loc[df2['Postcode'] == 'M7A']

   Postcode       Borough Neighbourhood
85      M7A  Queen's Park  Queen's Park

5. In the last cell of notebook, use the .shape method to print the number of rows of dataframe.

In [10]:
df2.shape

(103, 3)